html {
  scroll-behavior: smooth;
}

body {
  background-color: #fef9f1;
  font-family: "Source Sans Pro", Sans-Serif;
}

a {
  text-decoration: none;
}

.body-styling {
  margin: 0px 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Playfair Display", Serif;
  color: #a35429;
}

.nav-links {
  display: flex;
}

.nav-name {
  display: inline-block;
  padding: 15px 15px;
  font-size: 60px;
}

.nav-name a {
  color: #a35429;
  text-decoration: none;
}

.nav-item a {
  display: inline-block;
  padding: 170px 55px 70px 55px;
  text-decoration: none;
  font-size: 30px;
  color: #a35429;
}

.nav-item a:hover {
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
}

.main {
  background-color: #ffe8d6;
  margin: 0 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main p {
  font-size: 20px;
}

.portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-quote {
  text-align: center;
  margin: auto;
}

.main-quote p {
  color: #a35429;
}

.about-me {
  padding: 30px;
}

.browse-button {
  border-radius: 30px;
  border: 2px solid #f7b267;
  background-color: #f7b267;
  color: #fef9f1;
  padding: 12px 30px 12px 30px;
  font-size: 18px;
}

.browse-button:hover {
  color: #fef9f1;
  box-shadow: 0.2em 0.5em 0.5em -0.2em #a35429;
  transform: translateY(-0.1em);
}

.browse-button a:visited {
  color: #fef9f1;
}

.certifications {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin: 0 50px;
}

.certifications img {
  width: 100%;
}

h2 {
  text-align: center;
  padding: 50px 0 30px 0;
  color: #a35429;
  font-size: 2em;
  font-family: "Playfair Display", Serif;
}

.individual-cert {
  border-radius: 2px;
  box-shadow: 20px 10px 20px #b7b7a4;
  transition: transform 250ms;
}

.individual-cert:hover {
  transform: translateY(-20px);
}

.individual-content {
  display: flex;
  justify-content: space-evenly;
  color: #fef9f1;
  font-weight: bold;
  background-color: #f7b267;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.udemy-full {
  text-align: center;
  padding-top: 150px;
}

.language-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.language-flexbox img {
  width: 7%;
}

.public-health-lens {
  display: flex;
  align-items: center;
  padding: 150px 0 30px 0;
}

/* .graphic {
  background-color: #f7b267;
  width: 45%;
  height: 550px;
  border-top-right-radius: 200px;
} */

.graphic img {
  width: 100%;
}

.phl-text {
  padding-left: 50px;
  text-align: center;
}

/* .poppy-flour {
  display: flex;
  flex-direction: row-reverse;
  margin: 100px 0;
}

.poppy-flour-bg {
  background-color: #ffe8d6;
  width: 45%;
  height: 600px;
  border-top-left-radius: 200px;
}

.poppy-flour-text {
  margin: 150px 30px 0 300px;
  text-align: center;
} */

.headline {
  font-family: "Playfair Display", Serif;
  font-size: 32px;
  color: #c8553d;
}

.subheadline {
  color: #6b705c;
}

h3 {
  font-style: italic;
  color: #b7b7a4;
}

.get-in-touch {
  text-align: center;
  background-color: #ffe8d6;
}

.get-in-touch h2 {
  color: #a35429;
}

.get-in-touch button {
  border-radius: 30px;
  border: 2px solid #f7b267;
  background-color: #f7b267;
  color: #fef9f1;
  padding: 12px 30px 12px 30px;
  font-size: 18px;
  margin-bottom: 20px;
}

.get-in-touch button:hover {
  color: #fef9f1;
  box-shadow: 0.2em 0.5em 0.5em -0.2em #a35429;
  transform: translateY(-0.1em);
}

.get-in-touch a:visited {
  color: #fef9f1;
}

.git {
  margin: 0;
}

footer {
  border-radius: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: white;
  border-top: 1px solid #ffe8d6;
  background-color: #ddbea9;
  font-size: 18px;
  padding: 20px;
  margin: 0;
  border-radius: 2px;
}

/* media queries */

/* dekstop */
@media (min-width: 1200px) and (max-width: 2000px) {
  .main {
    grid-template-rows: 1;
    margin: 0 100px;
  }

  .main p {
    font-size: 18px;
    line-height: 1.5;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    flex-direction: column;
  }

  .nav-name {
    font-size: 38px;
  }

  .nav-links {
    justify-content: space-evenly;
  }

  .nav-item a {
    padding: 0;
    font-size: 24px;
  }

  .main {
    grid-template-rows: 1;
    margin: 0 5px;
  }

  .main p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .browse-button {
    border-radius: 30px;
    color: #ffe8d6;
    padding: 12px 25px 12px 25px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .language-flexbox img {
    width: 10%;
  }

  .get-in-touch button {
    border-radius: 30px;
    color: #ffe8d6;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

/* mobile  */
@media (min-width: 320px) and (max-width: 768px) {
  .nav-name {
    font-size: 20px;
  }

  .nav-links {
    display: none;
  }

  .nav-item a {
    padding: 0;
    font-size: 20px;
  }

  .nav-name {
    padding: 0;
  }

  .main {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

  .main p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: -5px;
  }

  .main div:nth-child(1) {
    order: 1;
  }

  .browse-button {
    border-radius: 30px;
    color: #ffe8d6;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .language-flexbox img {
    width: 20%;
  }

  .public-health-lens {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
  }

  .phl-text {
    padding: 0;
  }

  .certifications {
    margin: auto;
  }

  .public-health-lens div:nth-child(1) {
    order: 1;
  }

  .get-in-touch button {
    border-radius: 30px;
    color: #ffe8d6;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  .headline {
    font-family: "Playfair Display", Serif;
    font-size: 20px;
    color: #c8553d;
  }

  .subheadline {
    display: none;
  }

  h3 {
    display: none;
  }
}
